@using HiWorld.Web.ViewModels.Pages;
@model CreatePageInputModel
@{
    ViewData["Title"] = "Create Post";
}

<h1>@ViewData["Title"]</h1>
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <input type="hidden" name="ReturnId" value="@Model.ReturnId" />
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Pages" asp-action="ById" asp-route-id="@Model.ReturnId">Cancel</a>
</form>