@using HiWorld.Web.ViewModels.Tags;
@model TagSearchViewModel
@{
    this.ViewData["Title"] = $"Tagged - {Model.Name}";
}

<h1 class="text-center">Results for tag - @Model.Name</h1>
<div class="row">
    <div class="col-md-4">
        <h2 class="mb-3">Pages:</h2>
        @if (Model.Pages.Count() > 0)
        {
            @foreach (var userPage in Model.Pages)
            {
                <div class="media mb-2 border-box row">
                    <div class="row mx-0 flex-nowrap">
                        @if (userPage.ImagePath != null)
                        {
                            <img src="/img/pages/@userPage.ImagePath" class="align-self-center rounded-circle d-block media-image" alt="Profile Image">
                        }
                        else
                        {
                            <img src="/img/pages/@GlobalConstants.DefaultImage" class="align-self-center rounded-circle d-block media-image" alt="Profile Image">
                        }
                        <div class="media-body ml-3 mt-2 align-self-stretch">
                            <h5 class="mt-0">@userPage.Name</h5>
                            <p class="text-break">@userPage.Description</p>
                        </div>
                    </div>
                    <div class="ml-auto mr-2 align-self-center">
                        <a class="btn btn-success" asp-controller="Pages" asp-action="ById" asp-route-id="@userPage.Id">View</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h5>No pages found!</h5>
        }
    </div>
    <div class="col-md-8">
        <h2>Posts:</h2>
        @if (Model.Posts.Count() > 0)
        {
            @foreach (var post in Model.Posts)
            {
                <div class="card mt-3">
                    <partial name="_PostPartial" model="post" />
                </div>
            }
        }
        else
        {
            <h5>No posts found!</h5>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/posts.js" asp-append-version="true"></script>
}